@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import '~bootstrap/scss/bootstrap';

html, body, #root {
    height: 100% !important;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

body.login-page {
    background-image: url("../assets/images/dot-grid.png");
    background-repeat: repeat;
}
